
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
/*  border-top: 1px dotted black;
  border-bottom: 1px dotted black; */
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #000000;
}
</style>


 <h1 style="margin-top:20px">confidence</h1>

# <h2>confidence_managepersonalfinance</h2><p><em>path:</em><pre style="display:inline;">finLitDef>confidence>confidence_managepersonalfinance</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is used to refer to ‘a distinct and different construct from financial decision-making, financial behavior, financial outcome/ well-being, and financial education’ (Finke and Huston, 2014). We prefer the definition of Remund, (2010): “a measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and sound, long-range financial planning, while mindful of life events and changing economic condition.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;FinkeHuston2014]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is having the knowledge, skills and confidence to make responsible financial decisions (GOC Report, 2017)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GOCReport2017]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr /><div class="utterance"><span class="context">In general, literacy refers to an individual’s capability of reading and writing (Zarcadoolas, Pleasant, and Greer 2006). The standard definition of literacy consists of understanding (i.e., recognition of vocabulary, and arithmetic operations) and using forms of documents. Huston (2009) has also conceptualised financial literacy as including two dimensions –understanding (knowledge of personal finance) and use (application of personal finance). Redmund (2010) defines financial literacy as a measure of the degree to which an individual understands personal finance—familiarity with economic concepts and having the ability/skills and confidence to manage personal finances. This should lead to both proper short-term decisionmaking and long-range financial planning, considering life cycle events and uncertain economic circumstances.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;ZarcadoolasPleasantGreer2006]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2009]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr />
# <h2>confidence_managepersonalfinance</h2><p><em>path:</em><pre style="display:inline;">finLitDef>confidence>confidence_managepersonalfinance</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is used to refer to ‘a distinct and different construct from financial decision-making, financial behavior, financial outcome/ well-being, and financial education’ (Finke and Huston, 2014). We prefer the definition of Remund, (2010): “a measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and sound, long-range financial planning, while mindful of life events and changing economic condition.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;FinkeHuston2014]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is having the knowledge, skills and confidence to make responsible financial decisions (GOC Report, 2017)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GOCReport2017]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr /><div class="utterance"><span class="context">In general, literacy refers to an individual’s capability of reading and writing (Zarcadoolas, Pleasant, and Greer 2006). The standard definition of literacy consists of understanding (i.e., recognition of vocabulary, and arithmetic operations) and using forms of documents. Huston (2009) has also conceptualised financial literacy as including two dimensions –understanding (knowledge of personal finance) and use (application of personal finance). Redmund (2010) defines financial literacy as a measure of the degree to which an individual understands personal finance—familiarity with economic concepts and having the ability/skills and confidence to manage personal finances. This should lead to both proper short-term decisionmaking and long-range financial planning, considering life cycle events and uncertain economic circumstances.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;ZarcadoolasPleasantGreer2006]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2009]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr />
