
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
/*  border-top: 1px dotted black;
  border-bottom: 1px dotted black; */
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #000000;
}
</style>


 <h1 style="margin-top:20px">skill</h1>

# <h2>navigatetheconsumermarketeffectively</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>navigatetheconsumermarketeffectively</pre></p><hr /><div class="utterance"><span class="context">Financial literacy can be conceptualized as the attainment of necessary knowledge and skills to manage finances, utilize financial services, and navigate the consumer market effectively.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;navigatetheconsumermarketeffectively]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;navigatetheconsumermarketeffectively]]</span> </div>
<hr />
# <h2>skill_applyknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_applyknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has been variably defined as (a) a specific form of knowledge, (b) the ability or skills to apply that knowledge, (c) perceived knowledge, (d) good financial behavior, and even (e) financial experiences</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_applyknowledge]]</span> [[finLitDef&gt;knowledge&gt;knowledge_perceivedknowledge] <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr />
# <h2>skill_managingmoney</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_managingmoney</pre></p><hr /><div class="utterance"><span class="context">Financial literacy can be broadly defined as a person’s understanding of personal finance and their skill in managing money (Giesler & Veresiu, 2014).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GieslerVeresiu2014]]</span></div>
<hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">‘Financial literacy is the ability to use knowledge and skills to manage one’s financial resources effectively for a lifetime of financial security</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> [[finLitDef&gt;indirect&gt;Jump$tartCoalition2015]]</div>
<hr /><div class="utterance"><span class="context">generally defined in the academic literature as the personal ability to use knowledge and skills to effectively manage financial resources. It is a critical input to financial welfare that can explain variation in financial outcomes in previous research (Lyons and Neelakantan [2008], Remund [2010])</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr />
# <h2>skill_numeracy</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_numeracy</pre></p><hr /><div class="utterance"><span class="context">Lusardi and Mitchell (2014) define financial literacy as ‘peoples' ability to process economic information and make informed decisions about financial planning, wealth accumulation, pensions, and debt’, while Atkinson and Messy (2012) define a financially literate person as one who has ‘some basic knowledge of key financial concepts and the ability to apply numeracy skills in financial situations’. This emerging literature on financial literacy argues that poor financial literacy is both causally responsible for suboptimal financial choices of households and individuals, and amenable to being altered by public policy. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;lusardiMitchell2014]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AtkinsonMessy2012]]</span> </div>
<hr /><div class="utterance"><span class="context">Financial literacy variously defined in terms of numeracy or understanding of risk diversification and inflation has been associated with less sub-prime mortgage delinquency (Gerardi et al, 2006), lower credit card fees (Lusardi and Tufano, 2009), less high-cost borrowing (Disney and Gathergood, 2013), better planning for retirement (Van Rooj et al, 2012), stock market participation and asset portfolio diversification (Graham et al, 2009).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>skill_personalfinancialmanagement</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_personalfinancialmanagement</pre></p><hr /><div class="utterance"><span class="context">A good starting point for this paper'sresearch goal derives from the work of Atkinson et al., (2007): “[…] a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial well-being.” (Atkinson and Messy, 2012). This broad definition acknowledges that financial literacy is a complex construct that cannot easily be measured by a few items (Schuhen and Schürkmann, 2014). Furthermore, it underlines the need for heterogeneous policy instruments designed for and applied at different stages of the financial decision-making process. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Atkinson2007]]</span> [[finLitDef&gt;indirect&gt;AtkinsonMessy2012]</div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to students having sufficient levels of knowledge and skills in personal financial management (Huston, 2010)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy has been defined as ‘ a combination of awareness, knowledge, skills, attitude, and behaviours necessary to make sound financial decisions and ultimately achieve individual financial wellbeing’</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">We define financial literacy as the degree to which students have acquired the knowledge and skills to make sound financial decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is having the knowledge, skills and confidence to make responsible financial decisions (GOC Report, 2017)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GOCReport2017]]</span></div>
<hr /><div class="utterance"><span class="context">What is financial literacy? An increasing number of scholars engaging in research on financial markets refers to the term, yet it is not consistently used. Studies often concentrate on the relationship between financial knowledge and the quality of decision-making on the consumer-side. A general, and perhaps not surprising insight, is that one’s level of knowledge and experience can positively contribute to sound financial decision-making (Van Rooij et al. 2007). One element that is clear is that financial literacy in these studies involves more than plain literacy which, according to its general meaning, can be defined as ‘the ability to read and write’. Based on this definition one could simply say that financial literacy is the ability to understand and act within a financial context. Although this view is found in some instances in the US literature (e.g. Adkins and Ozanne 2005), it does not seem widely to have found support. Not only does it assume that very basic literacy skills are sufficient for consumers to navigate the financial market, it also does not explain what can be expected from a financially literate person. The better view seems to be that financial literacy encompasses a bundle of elements that are relevant for sound financial decision-making, including knowledge and experience, but also other elements. Which elements those are, however, is open to debate. Among scholars, professional parties and policy makers in the field of behavioural finance there is no clear consensus about the elements that should be included in a concept of financial literacy. Some studies focus more on knowledge, while other studies stress the significance of sufficient (financial) skills. Alternative terms like financial capability, mostly used in the United Kingdom, and financial sophistication are used interchangeably with the term financial literacy, even though they sometimes cover wider ground or are themselves used in convertible ways.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr /><div class="utterance"><span class="context">In general, literacy refers to an individual’s capability of reading and writing (Zarcadoolas, Pleasant, and Greer 2006). The standard definition of literacy consists of understanding (i.e., recognition of vocabulary, and arithmetic operations) and using forms of documents. Huston (2009) has also conceptualised financial literacy as including two dimensions –understanding (knowledge of personal finance) and use (application of personal finance). Redmund (2010) defines financial literacy as a measure of the degree to which an individual understands personal finance—familiarity with economic concepts and having the ability/skills and confidence to manage personal finances. This should lead to both proper short-term decisionmaking and long-range financial planning, considering life cycle events and uncertain economic circumstances.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;ZarcadoolasPleasantGreer2006]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2009]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy as defined by the OECD/INFE is a combination of awareness, knowledge, skill, attitude, and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well-being.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">The National Financial Literacy Strategy proposed and propagated by the Australian Securities and Investments Commission (2015) described financial literacy as a combination of financial knowledge, skills, attitudes and behaviours necessary to make sound financial decisions, based on personal circumstances, to improve financial wellbeing</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AustralianSecuritiesandInvestmentsCommision2015]]</span></div>
<hr />
# <h2>skill_toactonknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_toactonknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is the ability to understand financial matters and have the skill and willingness to act on that knowledge.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_understand_financialinformation]]</span>  <span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;willingness&gt;willingness_toactonknowledge]]</span> </div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr />
# <h2>skill_applyknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_applyknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has been variably defined as (a) a specific form of knowledge, (b) the ability or skills to apply that knowledge, (c) perceived knowledge, (d) good financial behavior, and even (e) financial experiences</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_applyknowledge]]</span> [[finLitDef&gt;knowledge&gt;knowledge_perceivedknowledge] <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr />
# <h2>skill_managingmoney</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_managingmoney</pre></p><hr /><div class="utterance"><span class="context">Financial literacy can be broadly defined as a person’s understanding of personal finance and their skill in managing money (Giesler & Veresiu, 2014).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GieslerVeresiu2014]]</span></div>
<hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">‘Financial literacy is the ability to use knowledge and skills to manage one’s financial resources effectively for a lifetime of financial security</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> [[finLitDef&gt;indirect&gt;Jump$tartCoalition2015]]</div>
<hr /><div class="utterance"><span class="context">generally defined in the academic literature as the personal ability to use knowledge and skills to effectively manage financial resources. It is a critical input to financial welfare that can explain variation in financial outcomes in previous research (Lyons and Neelakantan [2008], Remund [2010])</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr />
# <h2>skill_numeracy</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_numeracy</pre></p><hr /><div class="utterance"><span class="context">Lusardi and Mitchell (2014) define financial literacy as ‘peoples' ability to process economic information and make informed decisions about financial planning, wealth accumulation, pensions, and debt’, while Atkinson and Messy (2012) define a financially literate person as one who has ‘some basic knowledge of key financial concepts and the ability to apply numeracy skills in financial situations’. This emerging literature on financial literacy argues that poor financial literacy is both causally responsible for suboptimal financial choices of households and individuals, and amenable to being altered by public policy. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;lusardiMitchell2014]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AtkinsonMessy2012]]</span> </div>
<hr /><div class="utterance"><span class="context">Financial literacy variously defined in terms of numeracy or understanding of risk diversification and inflation has been associated with less sub-prime mortgage delinquency (Gerardi et al, 2006), lower credit card fees (Lusardi and Tufano, 2009), less high-cost borrowing (Disney and Gathergood, 2013), better planning for retirement (Van Rooj et al, 2012), stock market participation and asset portfolio diversification (Graham et al, 2009).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>skill_personalfinancialmanagement</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_personalfinancialmanagement</pre></p><hr /><div class="utterance"><span class="context">A good starting point for this paper'sresearch goal derives from the work of Atkinson et al., (2007): “[…] a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial well-being.” (Atkinson and Messy, 2012). This broad definition acknowledges that financial literacy is a complex construct that cannot easily be measured by a few items (Schuhen and Schürkmann, 2014). Furthermore, it underlines the need for heterogeneous policy instruments designed for and applied at different stages of the financial decision-making process. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Atkinson2007]]</span> [[finLitDef&gt;indirect&gt;AtkinsonMessy2012]</div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to students having sufficient levels of knowledge and skills in personal financial management (Huston, 2010)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy has been defined as ‘ a combination of awareness, knowledge, skills, attitude, and behaviours necessary to make sound financial decisions and ultimately achieve individual financial wellbeing’</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">We define financial literacy as the degree to which students have acquired the knowledge and skills to make sound financial decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is having the knowledge, skills and confidence to make responsible financial decisions (GOC Report, 2017)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GOCReport2017]]</span></div>
<hr /><div class="utterance"><span class="context">What is financial literacy? An increasing number of scholars engaging in research on financial markets refers to the term, yet it is not consistently used. Studies often concentrate on the relationship between financial knowledge and the quality of decision-making on the consumer-side. A general, and perhaps not surprising insight, is that one’s level of knowledge and experience can positively contribute to sound financial decision-making (Van Rooij et al. 2007). One element that is clear is that financial literacy in these studies involves more than plain literacy which, according to its general meaning, can be defined as ‘the ability to read and write’. Based on this definition one could simply say that financial literacy is the ability to understand and act within a financial context. Although this view is found in some instances in the US literature (e.g. Adkins and Ozanne 2005), it does not seem widely to have found support. Not only does it assume that very basic literacy skills are sufficient for consumers to navigate the financial market, it also does not explain what can be expected from a financially literate person. The better view seems to be that financial literacy encompasses a bundle of elements that are relevant for sound financial decision-making, including knowledge and experience, but also other elements. Which elements those are, however, is open to debate. Among scholars, professional parties and policy makers in the field of behavioural finance there is no clear consensus about the elements that should be included in a concept of financial literacy. Some studies focus more on knowledge, while other studies stress the significance of sufficient (financial) skills. Alternative terms like financial capability, mostly used in the United Kingdom, and financial sophistication are used interchangeably with the term financial literacy, even though they sometimes cover wider ground or are themselves used in convertible ways.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr /><div class="utterance"><span class="context">In general, literacy refers to an individual’s capability of reading and writing (Zarcadoolas, Pleasant, and Greer 2006). The standard definition of literacy consists of understanding (i.e., recognition of vocabulary, and arithmetic operations) and using forms of documents. Huston (2009) has also conceptualised financial literacy as including two dimensions –understanding (knowledge of personal finance) and use (application of personal finance). Redmund (2010) defines financial literacy as a measure of the degree to which an individual understands personal finance—familiarity with economic concepts and having the ability/skills and confidence to manage personal finances. This should lead to both proper short-term decisionmaking and long-range financial planning, considering life cycle events and uncertain economic circumstances.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;ZarcadoolasPleasantGreer2006]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2009]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy as defined by the OECD/INFE is a combination of awareness, knowledge, skill, attitude, and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well-being.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">The National Financial Literacy Strategy proposed and propagated by the Australian Securities and Investments Commission (2015) described financial literacy as a combination of financial knowledge, skills, attitudes and behaviours necessary to make sound financial decisions, based on personal circumstances, to improve financial wellbeing</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AustralianSecuritiesandInvestmentsCommision2015]]</span></div>
<hr />
# <h2>skill_toactonknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_toactonknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is the ability to understand financial matters and have the skill and willingness to act on that knowledge.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_understand_financialinformation]]</span>  <span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;willingness&gt;willingness_toactonknowledge]]</span> </div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr />
