
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
/*  border-top: 1px dotted black;
  border-bottom: 1px dotted black; */
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #000000;
}
</style>


 <h1 style="margin-top:20px">understanding</h1>

# <h2>understanding_financialconcepts_inflation</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_financialconcepts_inflation</pre></p><hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is commonly defined as the ability to perform basic economic calculations, such as multiplication and division, and understand financial concepts, such as interest and inflation.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_multiplication]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_divisions]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy variously defined in terms of numeracy or understanding of risk diversification and inflation has been associated with less sub-prime mortgage delinquency (Gerardi et al, 2006), lower credit card fees (Lusardi and Tufano, 2009), less high-cost borrowing (Disney and Gathergood, 2013), better planning for retirement (Van Rooj et al, 2012), stock market participation and asset portfolio diversification (Graham et al, 2009).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to an individual’s level of understanding about financial concepts and products and is expected to have a positive influence on saving behavior. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">[[rxsEntityId=finlitDefinition]]</span></div>

<div class="utterance">Financial literacy is a basic understanding of financial concepts. <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr />
# <h2>understanding_financialconcepts_interest</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_financialconcepts_interest</pre></p><hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is commonly defined as the ability to perform basic economic calculations, such as multiplication and division, and understand financial concepts, such as interest and inflation.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_multiplication]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_divisions]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to an individual’s level of understanding about financial concepts and products and is expected to have a positive influence on saving behavior. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">[[rxsEntityId=finlitDefinition]]</span></div>

<div class="utterance">Financial literacy is a basic understanding of financial concepts. <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr />
# <h2>understanding_financialconcepts_riskdiversification</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_financialconcepts_riskdiversification</pre></p><hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy variously defined in terms of numeracy or understanding of risk diversification and inflation has been associated with less sub-prime mortgage delinquency (Gerardi et al, 2006), lower credit card fees (Lusardi and Tufano, 2009), less high-cost borrowing (Disney and Gathergood, 2013), better planning for retirement (Van Rooj et al, 2012), stock market participation and asset portfolio diversification (Graham et al, 2009).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to an individual’s level of understanding about financial concepts and products and is expected to have a positive influence on saving behavior. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">[[rxsEntityId=finlitDefinition]]</span></div>

<div class="utterance">Financial literacy is a basic understanding of financial concepts. <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr />
# <h2>understanding_personalfinance</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_personalfinance</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy can be broadly defined as a person’s understanding of personal finance and their skill in managing money (Giesler & Veresiu, 2014).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GieslerVeresiu2014]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to the ability to understand, access,and utilize financial information in ways that contribute to better financial outcomes (Braunstein&Welch, 2002; Hilgert, Hogarth,& Beverly, 2003; Lusardi & Mitchell, 2014).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_access_financialinformation]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_utilize_financialinformation]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;BraunsteinWelch2002]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;HilgertHogarthBeverly2003]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2014]]</span></div>
<hr /><div class="utterance"><span class="context">Huston (2010) suggested defining financial literacy as “how well an individual can understand and use personal finance-related information” (p. 306) </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy represents information that an individual hold regarding handling finances. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr /><div class="utterance"><span class="context">In general, literacy refers to an individual’s capability of reading and writing (Zarcadoolas, Pleasant, and Greer 2006). The standard definition of literacy consists of understanding (i.e., recognition of vocabulary, and arithmetic operations) and using forms of documents. Huston (2009) has also conceptualised financial literacy as including two dimensions –understanding (knowledge of personal finance) and use (application of personal finance). Redmund (2010) defines financial literacy as a measure of the degree to which an individual understands personal finance—familiarity with economic concepts and having the ability/skills and confidence to manage personal finances. This should lead to both proper short-term decisionmaking and long-range financial planning, considering life cycle events and uncertain economic circumstances.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;ZarcadoolasPleasantGreer2006]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2009]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr />
# <h2>understanding_financialconcepts_inflation</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_financialconcepts_inflation</pre></p><hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is commonly defined as the ability to perform basic economic calculations, such as multiplication and division, and understand financial concepts, such as interest and inflation.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_multiplication]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_divisions]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy variously defined in terms of numeracy or understanding of risk diversification and inflation has been associated with less sub-prime mortgage delinquency (Gerardi et al, 2006), lower credit card fees (Lusardi and Tufano, 2009), less high-cost borrowing (Disney and Gathergood, 2013), better planning for retirement (Van Rooj et al, 2012), stock market participation and asset portfolio diversification (Graham et al, 2009).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to an individual’s level of understanding about financial concepts and products and is expected to have a positive influence on saving behavior. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">[[rxsEntityId=finlitDefinition]]</span></div>

<div class="utterance">Financial literacy is a basic understanding of financial concepts. <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr />
# <h2>understanding_financialconcepts_interest</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_financialconcepts_interest</pre></p><hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is commonly defined as the ability to perform basic economic calculations, such as multiplication and division, and understand financial concepts, such as interest and inflation.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_multiplication]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_performbasiceconomiccalculations_divisions]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to an individual’s level of understanding about financial concepts and products and is expected to have a positive influence on saving behavior. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">[[rxsEntityId=finlitDefinition]]</span></div>

<div class="utterance">Financial literacy is a basic understanding of financial concepts. <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr />
# <h2>understanding_financialconcepts_riskdiversification</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_financialconcepts_riskdiversification</pre></p><hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy variously defined in terms of numeracy or understanding of risk diversification and inflation has been associated with less sub-prime mortgage delinquency (Gerardi et al, 2006), lower credit card fees (Lusardi and Tufano, 2009), less high-cost borrowing (Disney and Gathergood, 2013), better planning for retirement (Van Rooj et al, 2012), stock market participation and asset portfolio diversification (Graham et al, 2009).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to an individual’s level of understanding about financial concepts and products and is expected to have a positive influence on saving behavior. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">[[rxsEntityId=finlitDefinition]]</span></div>

<div class="utterance">Financial literacy is a basic understanding of financial concepts. <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr />
# <h2>understanding_personalfinance</h2><p><em>path:</em><pre style="display:inline;">finLitDef>understanding>understanding_personalfinance</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy can be broadly defined as a person’s understanding of personal finance and their skill in managing money (Giesler & Veresiu, 2014).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GieslerVeresiu2014]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to the ability to understand, access,and utilize financial information in ways that contribute to better financial outcomes (Braunstein&Welch, 2002; Hilgert, Hogarth,& Beverly, 2003; Lusardi & Mitchell, 2014).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_access_financialinformation]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_utilize_financialinformation]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;BraunsteinWelch2002]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;HilgertHogarthBeverly2003]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2014]]</span></div>
<hr /><div class="utterance"><span class="context">Huston (2010) suggested defining financial literacy as “how well an individual can understand and use personal finance-related information” (p. 306) </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy represents information that an individual hold regarding handling finances. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr /><div class="utterance"><span class="context">In general, literacy refers to an individual’s capability of reading and writing (Zarcadoolas, Pleasant, and Greer 2006). The standard definition of literacy consists of understanding (i.e., recognition of vocabulary, and arithmetic operations) and using forms of documents. Huston (2009) has also conceptualised financial literacy as including two dimensions –understanding (knowledge of personal finance) and use (application of personal finance). Redmund (2010) defines financial literacy as a measure of the degree to which an individual understands personal finance—familiarity with economic concepts and having the ability/skills and confidence to manage personal finances. This should lead to both proper short-term decisionmaking and long-range financial planning, considering life cycle events and uncertain economic circumstances.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;ZarcadoolasPleasantGreer2006]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2009]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr />
