
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
/*  border-top: 1px dotted black;
  border-bottom: 1px dotted black; */
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #000000;
}
</style>


 <h1 style="margin-top:20px">willingness</h1>

# <h2>willingness_toactonknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>willingness>willingness_toactonknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is the ability to understand financial matters and have the skill and willingness to act on that knowledge.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_understand_financialinformation]]</span>  <span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;willingness&gt;willingness_toactonknowledge]]</span> </div>
<hr />
# <h2>willingness_toactonknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>willingness>willingness_toactonknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is the ability to understand financial matters and have the skill and willingness to act on that knowledge.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_understand_financialinformation]]</span>  <span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;willingness&gt;willingness_toactonknowledge]]</span> </div>
<hr />
