
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
/*  border-top: 1px dotted black;
  border-bottom: 1px dotted black; */
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #000000;
}
</style>


 <h1 style="margin-top:20px">knowledge</h1>

# <h2>ability_applyknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>ability>ability_applyknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has been variably defined as (a) a specific form of knowledge, (b) the ability or skills to apply that knowledge, (c) perceived knowledge, (d) good financial behavior, and even (e) financial experiences</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_applyknowledge]]</span> [[finLitDef&gt;knowledge&gt;knowledge_perceivedknowledge] <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">generally defined in the academic literature as the personal ability to use knowledge and skills to effectively manage financial resources. It is a critical input to financial welfare that can explain variation in financial outcomes in previous research (Lyons and Neelakantan [2008], Remund [2010])</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span></div>
<hr /><div class="utterance"><span class="context">Unlike general literacy, the concept of financial literacy has no single standard definition. To define financial literacy, we summarize the most common aspects among the definitions reported in Table 1. Financial literacy can be defined as having two dimensions: (a) the knowledge of basic financial concepts and (b) the ability to use this knowledge (e.g., in our case, in an incentivized laboratory experiment).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy refers to understanding economic principles and the ability to apply this understanding to make informed financial decisions, such as those related to debt and wealth accumulation (Lusardi & Mitchell, 2014).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_makeinformeddecisions_wealthAccumulation]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_makeinformeddecisions_debt]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2014]]</span></div>
<hr />
# <h2>applicationofknowledge_bonds</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_bonds</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_inflationrates</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_inflationrates</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_interestrates</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_interestrates</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_mortgages</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_mortgages</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_savingsforaretirmentplan</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_savingsforaretirmentplan</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_stocks</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_stocks</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_taxes</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_taxes</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>knowledge_assetmarkets</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_assetmarkets</pre></p><hr /><div class="utterance"><span class="context">The knowledge of basic facts of how asset and credit markets work that is necessary for good household finance decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_assetmarkets]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_creditmarkets]]</span> </div>
<hr />
# <h2>knowledge_availablesourcesoffinancing</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_availablesourcesoffinancing</pre></p><hr /><div class="utterance"><span class="context">Financial literacy includes knowledge of the available sources of financing, as well as the knowledge and management of company’s accounting information.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_companysaccountinginformation]]</span></div>
<hr /><div class="utterance"><span class="context">‘Financial literacy is the ability to use knowledge and skills to manage one’s financial resources effectively for a lifetime of financial security</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> [[finLitDef&gt;indirect&gt;Jump$tartCoalition2015]]</div>
<hr /><div class="utterance"><span class="context">generally defined in the academic literature as the personal ability to use knowledge and skills to effectively manage financial resources. It is a critical input to financial welfare that can explain variation in financial outcomes in previous research (Lyons and Neelakantan [2008], Remund [2010])</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span></div>
<hr />
# <h2>knowledge_companysaccountinginformation</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_companysaccountinginformation</pre></p><hr /><div class="utterance"><span class="context">Financial literacy includes knowledge of the available sources of financing, as well as the knowledge and management of company’s accounting information.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_companysaccountinginformation]]</span></div>
<hr />
# <h2>knowledge_creditmarkets</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_creditmarkets</pre></p><hr /><div class="utterance"><span class="context">The knowledge of basic facts of how asset and credit markets work that is necessary for good household finance decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_assetmarkets]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_creditmarkets]]</span> </div>
<hr />
# <h2>knowledge_financialconcepts_compounding</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_compounding</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialconcepts_creditscores</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_creditscores</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialconcepts_diversification</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_diversification</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialconcepts_inflation</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_inflation</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialprocedures</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialprocedures</pre></p><hr /><div class="utterance"><span class="context">In the literature, the term ‘financial literacy’ has commonly been used to refer to knowledge of financial concepts and procedures, whereas ‘financial capability’ has been utilized to indicate the skills needed to apply this knowledge in a meaningful manner, and ‘financial inclusion’ to indicate the opportunity to do so (Amagir et al., 2018a).  </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> </div>
<hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">A good starting point for this paper'sresearch goal derives from the work of Atkinson et al., (2007): “[…] a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial well-being.” (Atkinson and Messy, 2012). This broad definition acknowledges that financial literacy is a complex construct that cannot easily be measured by a few items (Schuhen and Schürkmann, 2014). Furthermore, it underlines the need for heterogeneous policy instruments designed for and applied at different stages of the financial decision-making process. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Atkinson2007]]</span> [[finLitDef&gt;indirect&gt;AtkinsonMessy2012]</div>
<hr /><div class="utterance"><span class="context">Financial literacy has been defined as ‘ a combination of awareness, knowledge, skills, attitude, and behaviours necessary to make sound financial decisions and ultimately achieve individual financial wellbeing’</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy means having the minimum degree of financial knowledge and information; the use of this knowledge and information has an impact on individuals’ macro and micro economic activities and decision-making processes.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Unlike general literacy, the concept of financial literacy has no single standard definition. To define financial literacy, we summarize the most common aspects among the definitions reported in Table 1. Financial literacy can be defined as having two dimensions: (a) the knowledge of basic financial concepts and (b) the ability to use this knowledge (e.g., in our case, in an incentivized laboratory experiment).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy as defined by the OECD/INFE is a combination of awareness, knowledge, skill, attitude, and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well-being.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">The National Financial Literacy Strategy proposed and propagated by the Australian Securities and Investments Commission (2015) described financial literacy as a combination of financial knowledge, skills, attitudes and behaviours necessary to make sound financial decisions, based on personal circumstances, to improve financial wellbeing</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AustralianSecuritiesandInvestmentsCommision2015]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr />
# <h2>knowledge_financialproducts_adjustablemortgagerate</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_adjustablemortgagerate</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_financialproducts_bond</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_bond</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_financialproducts_fixedmortgagerate</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_fixedmortgagerate</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_financialproducts_stock</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_stock</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_personalfinancialmanagement</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_personalfinancialmanagement</pre></p><hr /><div class="utterance"><span class="context">Financial literacy refers to students having sufficient levels of knowledge and skills in personal financial management (Huston, 2010)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>knowledge_supportfinancialdecisionmaking</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_supportfinancialdecisionmaking</pre></p><hr /><div class="utterance"><span class="context">We define financial literacy as the degree to which students have acquired the knowledge and skills to make sound financial decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is often narrowed down to financial knowledge (Remund, 2010), which implicitly assumes that an increase in financial knowledge results in improved financial behaviour and attitudes. However, the relationship between these three components of financial literacy is more complex. Financial literacy is now generally considered as “a combination of awareness, knowledge, skill, attitude and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well‐being” (OECD/INFE, 2011, p. 3). This definition refers to a combination of knowledge, behaviours and at‐titudes that support financial decision making, ultimately leading to improved financial well‐being (Atkinson & Messy, 2011).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2011]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AtkinsonMessy2011]]</span></div>
<hr /><div class="utterance"><span class="context">While multiple definitions exist (Remund, 2010; Wuttke & Aprea, 2018), the Organisation for Economic Co-operation and Development (OECD) defines financial literacy as “a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial wellbeing” (OECD INFE, 2011, p. 3)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2011]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is having the knowledge, skills and confidence to make responsible financial decisions (GOC Report, 2017)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GOCReport2017]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy has been variably defined as (a) a specific form of knowledge, (b) the ability or skills to apply that knowledge, (c) perceived knowledge, (d) good financial behavior, and even (e) financial experiences</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_applyknowledge]]</span> [[finLitDef&gt;knowledge&gt;knowledge_perceivedknowledge] <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">What is financial literacy? An increasing number of scholars engaging in research on financial markets refers to the term, yet it is not consistently used. Studies often concentrate on the relationship between financial knowledge and the quality of decision-making on the consumer-side. A general, and perhaps not surprising insight, is that one’s level of knowledge and experience can positively contribute to sound financial decision-making (Van Rooij et al. 2007). One element that is clear is that financial literacy in these studies involves more than plain literacy which, according to its general meaning, can be defined as ‘the ability to read and write’. Based on this definition one could simply say that financial literacy is the ability to understand and act within a financial context. Although this view is found in some instances in the US literature (e.g. Adkins and Ozanne 2005), it does not seem widely to have found support. Not only does it assume that very basic literacy skills are sufficient for consumers to navigate the financial market, it also does not explain what can be expected from a financially literate person. The better view seems to be that financial literacy encompasses a bundle of elements that are relevant for sound financial decision-making, including knowledge and experience, but also other elements. Which elements those are, however, is open to debate. Among scholars, professional parties and policy makers in the field of behavioural finance there is no clear consensus about the elements that should be included in a concept of financial literacy. Some studies focus more on knowledge, while other studies stress the significance of sufficient (financial) skills. Alternative terms like financial capability, mostly used in the United Kingdom, and financial sophistication are used interchangeably with the term financial literacy, even though they sometimes cover wider ground or are themselves used in convertible ways.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr />
# <h2>navigatetheconsumermarketeffectively</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>navigatetheconsumermarketeffectively</pre></p><hr /><div class="utterance"><span class="context">Financial literacy can be conceptualized as the attainment of necessary knowledge and skills to manage finances, utilize financial services, and navigate the consumer market effectively.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;navigatetheconsumermarketeffectively]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;navigatetheconsumermarketeffectively]]</span> </div>
<hr />
# <h2>knowledge_assetmarkets</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_assetmarkets</pre></p><hr /><div class="utterance"><span class="context">The knowledge of basic facts of how asset and credit markets work that is necessary for good household finance decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_assetmarkets]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_creditmarkets]]</span> </div>
<hr />
# <h2>knowledge_availablesourcesoffinancing</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_availablesourcesoffinancing</pre></p><hr /><div class="utterance"><span class="context">Financial literacy includes knowledge of the available sources of financing, as well as the knowledge and management of company’s accounting information.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_companysaccountinginformation]]</span></div>
<hr /><div class="utterance"><span class="context">‘Financial literacy is the ability to use knowledge and skills to manage one’s financial resources effectively for a lifetime of financial security</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_managepersonalfinances]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> [[finLitDef&gt;indirect&gt;Jump$tartCoalition2015]]</div>
<hr /><div class="utterance"><span class="context">generally defined in the academic literature as the personal ability to use knowledge and skills to effectively manage financial resources. It is a critical input to financial welfare that can explain variation in financial outcomes in previous research (Lyons and Neelakantan [2008], Remund [2010])</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span></div>
<hr />
# <h2>knowledge_companysaccountinginformation</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_companysaccountinginformation</pre></p><hr /><div class="utterance"><span class="context">Financial literacy includes knowledge of the available sources of financing, as well as the knowledge and management of company’s accounting information.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_availablesourcesoffinancing]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_companysaccountinginformation]]</span></div>
<hr />
# <h2>knowledge_creditmarkets</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_creditmarkets</pre></p><hr /><div class="utterance"><span class="context">The knowledge of basic facts of how asset and credit markets work that is necessary for good household finance decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_assetmarkets]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_creditmarkets]]</span> </div>
<hr />
# <h2>knowledge_financialconcepts_compounding</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_compounding</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialconcepts_creditscores</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_creditscores</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialconcepts_diversification</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_diversification</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialconcepts_inflation</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialconcepts_inflation</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy pertains to the knowledge of basic financial concepts</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Lusardi2008]]</span></div>
<hr />
# <h2>knowledge_financialprocedures</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialprocedures</pre></p><hr /><div class="utterance"><span class="context">In the literature, the term ‘financial literacy’ has commonly been used to refer to knowledge of financial concepts and procedures, whereas ‘financial capability’ has been utilized to indicate the skills needed to apply this knowledge in a meaningful manner, and ‘financial inclusion’ to indicate the opportunity to do so (Amagir et al., 2018a).  </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> </div>
<hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr /><div class="utterance"><span class="context">A significant challenge for conducting research on financial literacy is the difficulty of determining how best to measure financial literacy because there is no standard definition of it in the research literature (Hung et al. 2009; Huston 2010; Remund 2010). Most research on financial literacy focuses on the cognitive dimensions of the construct and relies on a test measure of what people know or understand about financial concepts.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_interest]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_financialconcepts_riskdiversification]]</span></div>
<hr /><div class="utterance"><span class="context">A good starting point for this paper'sresearch goal derives from the work of Atkinson et al., (2007): “[…] a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial well-being.” (Atkinson and Messy, 2012). This broad definition acknowledges that financial literacy is a complex construct that cannot easily be measured by a few items (Schuhen and Schürkmann, 2014). Furthermore, it underlines the need for heterogeneous policy instruments designed for and applied at different stages of the financial decision-making process. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Atkinson2007]]</span> [[finLitDef&gt;indirect&gt;AtkinsonMessy2012]</div>
<hr /><div class="utterance"><span class="context">Financial literacy has been defined as ‘ a combination of awareness, knowledge, skills, attitude, and behaviours necessary to make sound financial decisions and ultimately achieve individual financial wellbeing’</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy means having the minimum degree of financial knowledge and information; the use of this knowledge and information has an impact on individuals’ macro and micro economic activities and decision-making processes.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Unlike general literacy, the concept of financial literacy has no single standard definition. To define financial literacy, we summarize the most common aspects among the definitions reported in Table 1. Financial literacy can be defined as having two dimensions: (a) the knowledge of basic financial concepts and (b) the ability to use this knowledge (e.g., in our case, in an incentivized laboratory experiment).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy as defined by the OECD/INFE is a combination of awareness, knowledge, skill, attitude, and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well-being.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">The National Financial Literacy Strategy proposed and propagated by the Australian Securities and Investments Commission (2015) described financial literacy as a combination of financial knowledge, skills, attitudes and behaviours necessary to make sound financial decisions, based on personal circumstances, to improve financial wellbeing</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AustralianSecuritiesandInvestmentsCommision2015]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is a broad term for general knowledge and understanding about money and its uses. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span></div>
<hr />
# <h2>knowledge_financialproducts_adjustablemortgagerate</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_adjustablemortgagerate</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_financialproducts_bond</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_bond</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_financialproducts_fixedmortgagerate</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_fixedmortgagerate</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_financialproducts_stock</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_financialproducts_stock</pre></p><hr /><div class="utterance"><span class="context">Jump$tart defined financial literacy as “the ability to use knowledge and skills to manage one’s financial resources effectively for lifetime financial security.” As operationalized in the academic literature, financial literacy has taken on a variety of meanings; it has been used to refer to knowledge of financial products (e.g., the definition of a stock and a bond, the difference between a fixed and an adjustable rate mortgage), knowledge of financial concepts(inflation, compounding, diversification, credit scores), mathematical skills or numeracy necessary for effective financial decision making, and engagement in certain activities such as financial planning. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_stock]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_bond]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_fixedmortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialproducts_adjustablemortgagerate]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_inflation]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_compounding]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_diversification]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialconcepts_creditscores]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_numeracy]]</span></div>
<hr />
# <h2>knowledge_personalfinancialmanagement</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_personalfinancialmanagement</pre></p><hr /><div class="utterance"><span class="context">Financial literacy refers to students having sufficient levels of knowledge and skills in personal financial management (Huston, 2010)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>knowledge_supportfinancialdecisionmaking</h2><p><em>path:</em><pre style="display:inline;">finLitDef>knowledge>knowledge_supportfinancialdecisionmaking</pre></p><hr /><div class="utterance"><span class="context">We define financial literacy as the degree to which students have acquired the knowledge and skills to make sound financial decisions.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is often narrowed down to financial knowledge (Remund, 2010), which implicitly assumes that an increase in financial knowledge results in improved financial behaviour and attitudes. However, the relationship between these three components of financial literacy is more complex. Financial literacy is now generally considered as “a combination of awareness, knowledge, skill, attitude and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well‐being” (OECD/INFE, 2011, p. 3). This definition refers to a combination of knowledge, behaviours and at‐titudes that support financial decision making, ultimately leading to improved financial well‐being (Atkinson & Messy, 2011).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2011]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AtkinsonMessy2011]]</span></div>
<hr /><div class="utterance"><span class="context">While multiple definitions exist (Remund, 2010; Wuttke & Aprea, 2018), the Organisation for Economic Co-operation and Development (OECD) defines financial literacy as “a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial wellbeing” (OECD INFE, 2011, p. 3)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2011]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is having the knowledge, skills and confidence to make responsible financial decisions (GOC Report, 2017)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;GOCReport2017]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy has been variably defined as (a) a specific form of knowledge, (b) the ability or skills to apply that knowledge, (c) perceived knowledge, (d) good financial behavior, and even (e) financial experiences</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_applyknowledge]]</span> [[finLitDef&gt;knowledge&gt;knowledge_perceivedknowledge] <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">What is financial literacy? An increasing number of scholars engaging in research on financial markets refers to the term, yet it is not consistently used. Studies often concentrate on the relationship between financial knowledge and the quality of decision-making on the consumer-side. A general, and perhaps not surprising insight, is that one’s level of knowledge and experience can positively contribute to sound financial decision-making (Van Rooij et al. 2007). One element that is clear is that financial literacy in these studies involves more than plain literacy which, according to its general meaning, can be defined as ‘the ability to read and write’. Based on this definition one could simply say that financial literacy is the ability to understand and act within a financial context. Although this view is found in some instances in the US literature (e.g. Adkins and Ozanne 2005), it does not seem widely to have found support. Not only does it assume that very basic literacy skills are sufficient for consumers to navigate the financial market, it also does not explain what can be expected from a financially literate person. The better view seems to be that financial literacy encompasses a bundle of elements that are relevant for sound financial decision-making, including knowledge and experience, but also other elements. Which elements those are, however, is open to debate. Among scholars, professional parties and policy makers in the field of behavioural finance there is no clear consensus about the elements that should be included in a concept of financial literacy. Some studies focus more on knowledge, while other studies stress the significance of sufficient (financial) skills. Alternative terms like financial capability, mostly used in the United Kingdom, and financial sophistication are used interchangeably with the term financial literacy, even though they sometimes cover wider ground or are themselves used in convertible ways.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span></div>
<hr />
# <h2>motivation_applyknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>motivation>motivation_applyknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr />
# <h2>skill_applyknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_applyknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has been variably defined as (a) a specific form of knowledge, (b) the ability or skills to apply that knowledge, (c) perceived knowledge, (d) good financial behavior, and even (e) financial experiences</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_applyknowledge]]</span> [[finLitDef&gt;knowledge&gt;knowledge_perceivedknowledge] <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr />
# <h2>skill_toactonknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>skill>skill_toactonknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is the ability to understand financial matters and have the skill and willingness to act on that knowledge.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_understand_financialinformation]]</span>  <span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;willingness&gt;willingness_toactonknowledge]]</span> </div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr />
# <h2>willingness_toactonknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>willingness>willingness_toactonknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is the ability to understand financial matters and have the skill and willingness to act on that knowledge.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;ability&gt;ability_understand_financialinformation]]</span>  <span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;willingness&gt;willingness_toactonknowledge]]</span> </div>
<hr />
