
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
/*  border-top: 1px dotted black;
  border-bottom: 1px dotted black; */
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #000000;
}
</style>


 <h1 style="margin-top:20px">behavior</h1>

# <h2>applicationofknowledge_bonds</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_bonds</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_inflationrates</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_inflationrates</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_interestrates</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_interestrates</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_mortgages</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_mortgages</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_savingsforaretirmentplan</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_savingsforaretirmentplan</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_stocks</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_stocks</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>applicationofknowledge_taxes</h2><p><em>path:</em><pre style="display:inline;">finLitDef>behavior>applicationofknowledge_taxes</pre></p><hr /><div class="utterance"><span class="context">Financial literacy has multiple meanings. It may mean either financial knowledge or application of financial knowledge (financial behavior). Financial literacy is the measure of the degree to which one understands key financial concepts and possesses the ability and confidence to manage personal finances through appropriate short-term decision-making and long-range financial planning, while being mindful of life events and changing economic conditions (Remund, 2010). This definition is similar in spirit to Huston’s (2010) conceptualization of financial literacy as having two dimensions: understanding (theory) and using (application) personal financial knowledge. Individuals who are financially literate are likely to demonstrate their understanding of financial concepts—such as interest rates, inflation rates, taxes, mortgages, and savings for a retirement plan, bonds and stocks—through financial behaviors (Huston, 2010; van Rooij et al., 2011)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_interestrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_inflationrates]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_taxes]]</span><span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_mortgages]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_savingsforaretirmentplan]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_bonds]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;applicationofknowledge_stocks]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;Remund2010]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Huston2010]]</span></div>
<hr />
# <h2>supportfinancialdecisionmaking</h2><p><em>path:</em><pre style="display:inline;">finLitDef>attitude>supportfinancialdecisionmaking</pre></p><hr /><div class="utterance"><span class="context">A good starting point for this paper'sresearch goal derives from the work of Atkinson et al., (2007): “[…] a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial well-being.” (Atkinson and Messy, 2012). This broad definition acknowledges that financial literacy is a complex construct that cannot easily be measured by a few items (Schuhen and Schürkmann, 2014). Furthermore, it underlines the need for heterogeneous policy instruments designed for and applied at different stages of the financial decision-making process. </span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span><span class="code codes">[[finLitDef&gt;indirect&gt;Atkinson2007]]</span> [[finLitDef&gt;indirect&gt;AtkinsonMessy2012]</div>
<hr /><div class="utterance"><span class="context">Financial literacy has been defined as ‘ a combination of awareness, knowledge, skills, attitude, and behaviours necessary to make sound financial decisions and ultimately achieve individual financial wellbeing’</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy is often narrowed down to financial knowledge (Remund, 2010), which implicitly assumes that an increase in financial knowledge results in improved financial behaviour and attitudes. However, the relationship between these three components of financial literacy is more complex. Financial literacy is now generally considered as “a combination of awareness, knowledge, skill, attitude and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well‐being” (OECD/INFE, 2011, p. 3). This definition refers to a combination of knowledge, behaviours and at‐titudes that support financial decision making, ultimately leading to improved financial well‐being (Atkinson & Messy, 2011).</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2011]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AtkinsonMessy2011]]</span></div>
<hr /><div class="utterance"><span class="context">While multiple definitions exist (Remund, 2010; Wuttke & Aprea, 2018), the Organisation for Economic Co-operation and Development (OECD) defines financial literacy as “a combination of awareness, knowledge, skill, attitude and behavior necessary to make sound financial decisions and ultimately achieve individual financial wellbeing” (OECD INFE, 2011, p. 3)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2011]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy has been variably defined as (a) a specific form of knowledge, (b) the ability or skills to apply that knowledge, (c) perceived knowledge, (d) good financial behavior, and even (e) financial experiences</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;ability&gt;ability_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_applyknowledge]]</span> [[finLitDef&gt;knowledge&gt;knowledge_perceivedknowledge] <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">Financial literacy as defined by the OECD/INFE is a combination of awareness, knowledge, skill, attitude, and behaviour necessary to make sound financial decisions and ultimately achieve individual financial well-being.</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;awareness&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span></div>
<hr /><div class="utterance"><span class="context">The National Financial Literacy Strategy proposed and propagated by the Australian Securities and Investments Commission (2015) described financial literacy as a combination of financial knowledge, skills, attitudes and behaviours necessary to make sound financial decisions, based on personal circumstances, to improve financial wellbeing</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_personalfinancialmanagement]]</span> <span class="code codes">[[finLitDef&gt;attitude&gt;makeinformeddecisions]]</span> <span class="code codes">[[finLitDef&gt;behavior&gt;supportfinancialdecisionmaking]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;AustralianSecuritiesandInvestmentsCommision2015]]</span></div>
<hr />
