
<style>


.code {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.codeValue {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.identifier {
  border-radius: .25em;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 2px;
}

.sectionBreak {
  border-radius: .25em;
  box-sizing: border-box;
  display: block;
}

.uid {
  border-radius: 0;
  box-sizing: border-box;
}

.utterance {
  display: block;
}

.code {
  background-color: #f4d142;
}

.codeValue {
  background-color: #d2af20;
}

.identifier {
  background-color: #aaaaff;
}

.sectionBreak {
  background-color: #eeeeff;
}

.uid {
  background-color: #eeeeee;
  color: #bbbbbb;
}

.utterance {
/*  border-top: 1px dotted black;
  border-bottom: 1px dotted black; */
}

.utterance + .utterance {
  margin-top: -1px;
}

.context {
  color: #000000;
}
</style>


 <h1 style="margin-top:20px">motivation</h1>

# <h2>motivation_applyknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>motivation>motivation_applyknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr />
# <h2>motivation_applyknowledge</h2><p><em>path:</em><pre style="display:inline;">finLitDef>motivation>motivation_applyknowledge</pre></p><hr /><div class="utterance"><span class="context">Financial literacy is knowledge and understanding of financial concepts and risks, and the skills, motivation and confidence to apply such knowledge and understanding inorder to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life. (OECD 2014)</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;knowledge&gt;knowledge_financialprocedures]]</span> <span class="code codes">[[finLitDef&gt;understanding&gt;understanding_personalfinance]]</span> <span class="code codes">[[finLitDef&gt;skill&gt;skill_managingmoney]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;OECDINFE2014]]</span></div>
<hr /><div class="utterance"><span class="context">Knowledge and understanding of financial concepts, and the skills, motivation and confidence to apply such knowledge and understanding in order to make effective decisions across a range of financial contexts, to improve the financial well-being of individuals and society, and to enable participation in economic life (Lusardi and Mitchell, 2007b).”</span></div>

<div class="utterance"><span class="code codes">[[finLitDef&gt;skill&gt;skill_toactonknowledge]]</span> <span class="code codes">[[finLitDef&gt;motivation&gt;motivation_applyknowledge]]</span> <span class="code codes">[[finLitDef&gt;confidence&gt;confidence_managepersonalfinance]]</span> <span class="code codes">[[finLitDef&gt;indirect&gt;LusardiMitchell2007b]]</span></div>
<hr />
